@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.App {
  height: 100vh;
}
.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  background-color: #333;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 30px;
}
.header{
    stroke: red;
    stroke-width: 2px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.size{
    display: flex;
    justify-content: center;
    align-items: center;
}
.size p{
  margin-right: 8px;
  text-transform: capitalize;
}
.size button{
    width: 30px;
    cursor: pointer;
    height: 25px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
}
.size input{
    width: 40px;
    height: 25px;
    text-align: center;
    outline: none;
    border: none;
}
.flex-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 40px);
  height: 100%;
  background-color: #333;
}
#display {
  height: calc(100vh - 80px);
  border: 3px solid black;
  width: 100%;
  border-radius: 7px;
  height: 100%;
  background-color: white;
}
#editor {
  height: calc(100vh - 35px);
  width: 80vw;
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif;
}
textarea {
  resize: horizontal;
  padding: 20px 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 7px;
}